<html>
    <head>
        <title>Repositorios</title>
    </head>
    <body>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {%if message.tags %} class ="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h1>Repositorios </h1>

        <div>
            <form action="/repo/find/" method="get">
                <input type="text" name="name">
                <input type="submit" value="Buscar">
            </form>
        </div>

        <div >
            <table>
            <th scope="row">ID</th>
            <th scope="row">Repositorio</th>
            <th scope="row"><a href="/repo/index/1">Fecha creacion</a></th>
            <th scope="row"><a href="/repo/index/2">Ultimo Commit</a></th>
        {% for repo in repos %}
            <tr class="model-{{ model.object_name|lower }}">
                <td scope="row">{{ repo.id }}</td>
                <td scope="row">{{ repo.name }}</td>
                <td scope="row">{{ repo.created_at }}</td>
                <td scope="row">{{ repo.pushed_at  }}</td>
            </tr>
        {% endfor %}
        </table>
        </div>
    </body>
</html>