<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title> DJANGO PROOF </title>
</head>

<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Last commit Date</th>
                    <th>Created Date</th>
                </tr>
            </thead>
            <tbody>
            {% for dev in devs %}
                <tr>
                    <th> {{ forloop.counter }} </th>
                    <td> {{ dev.id }} </td>
                    <td> {{ dev.name }} </td>
                    <td> {{ dev.lastname }} </td>
                    <td> {{ dev.email }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>
