<html>
    <head>
        <title>Buscar</title>
    </head>
    <body>
        {% if error %}
            <p style="color: red ; ">Por favor introduce un término de búsqueda.</p>
        {% endif %}
        <form action="/proof/find/" method="get">
            <input type="text" name="q">
            <input type="submit" value="Buscar">
        </form>
    </body>
</html>
<!--
<html>
    <head>
        <title>Buscar</title>
    </head>
    <body>
    {% if errors %}
        <ul>
        {% for error in errors %}
            <li style="color: red ; ">{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <form action="/buscar/" method="get">
        <input type="text" name= "q">
        <input type="submit" value ="Buscar">
    </form>
    </body>
</html>
-->
